[mongodb]
;docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' database-service
host_name = database-service
port = 27017
database_name = cloud_service
username =
password =

[google]
;google 試算表 api key
spreadsheet_api_key =
;google 試算表 ID
key_word_spreadsheet_id =
;google 試算表 表格名稱
key_word_table_name =