[mongodb]
;docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' database-service
host_name = database-service
port = 27017
database_name = web_scraper
username =
password =

[workers]
max_workers = 5
browser_pool_size = 5